<!-- Styling for the Footer -->
<style type="text/css">
        .footer {
            min-height: 50px;
            background-color: #EFBA08;
        }
</style>

<!-- Bootstrap Style -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<style type="text/css">
    /* Custom button style */
    .footer .btn-primary {
        background-color: #86003800 !important; /* Change the background color */
        border-color: #86003800 !important; /* Change the border color */
    }

    .footer .btn-primary:hover {
        background-color: #860038 !important; /* Change the hover background color */
        border-color: #860038 !important; /* Change the hover border color */
    }
    .footer a {
        color: black; /* Change the color to black */
    }
</style>

<!-- Footer -->
<div class="footer bg-yellow border-top shadow-lg d-flex justify-content-center align-items-center">
    <a href="{% url 'help' %}" class="btn btn-primary ml-0">Need Help?</a>
    <p class="m-1">ToroGrub | 2024</p>
    <a href="{% url 'about' %}" class="btn btn-primary ml-0">About Us</a>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
