{% extends 'base.html' %}
{% load static %}



{% block content %}

<main>

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}">

    
    <section id="form-container">
        <img id="logo" src="{% static 'chat-icon.png' %}">

        <div class="container">
            <h1>Welcome to MyChat</h1>
            <p>A group video calling application just for you!</p>
        </div>

        <form id="form">
            <div class="form-field">
                <input type="submit" value="Join Stream" />
            </div>
        </form>
        
    <!-- </section>-->

    
</main>

<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        window.open('/room/', '_self')
    }

    form.addEventListener('submit', handleSubmit)

</script>

<script type="text/javascript" src="{% static 'streams.js' %}"></script>

{% endblock content %}